*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-size: inherit;
  font: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-color: #f5f5f4; */
  background-image: linear-gradient(to bottom right, #88d66c, #f6fb7a);
  font-family: serif;
  font-weight: 600;
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 800;
}

#app {
  display: flex;
  /* background-color: aqua; */
  text-align: center;
  justify-content: space-around;
  min-height: 100%;
  padding: 2rem;
  gap: 1rem;
}

#app > div {
  flex: 0 0 45%;
  min-height: 100%;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}

.cart-list {
  list-style: none;
}

.inventory-list {
  list-style: none;
}

.inventory-item-amount {
  display: flex;
  align-items: center;
}
button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  line-height: 0;
  color: white;
}

.checkout-btn {
  /* display: inline-block; */
  background-color: #000000;
  /* padding: 1.5rem 1rem; */
  padding: 1.5rem;
  transition: all 0.2s ease;
}

.checkout-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 1.5rem rgba(0, 0, 0, 0.603);
}

.checkout-btn:active {
  transform: translateY(-5px);
  box-shadow: 0 3px 0.5rem rgba(0, 0, 0, 0.603);
}

.inventory-item-minus-btn {
  background-color: #b14949;
}

.inventory-item-minus-btn:hover {
  background-color: #b14949d7;
}

.inventory-item-plus-btn {
  background-color: #75ad50;
}
.inventory-item-plus-btn:hover {
  background-color: #75ad50d7;
}

.inventory-item-add-btn,
.cart-item-delete-btn {
  background-color: #3d6eab;
}
.inventory-item-add-btn:hover,
.cart-item-delete-btn:hover {
  background-color: #3d6eabd7;
}

.inventory-item-amount > span {
  margin-inline: 1rem;
}

ul > li {
  /* padding: 2rem, 1rem; */
  display: flex;
  /* background-color: #e1dac8; */
  background-color: rgba(255, 255, 255, 0.603);
  margin-bottom: 1rem;
  border-radius: 5px;
  gap: 1rem;
  align-items: center;
  /* box-shadow: 0 1px 10px rgba(black, 0.3); */
  justify-content: center;
  padding: 1rem 1rem;
}
